<!DOCTYPE html>
<html>
  <%- include headerTag %>
  <body>
    <div><%- include navbar %></div>
    <div class="jumbotron" style="background-color: rgba(88, 87, 87, 0.01); padding-top: 3rem;">
      <div class="col-sm-10">
        <div class="card" style="border-color: transparent;">
          <div class="card-body"></div>
        </div>
      </div>
      <span class="badge badge-light">專案代號：<%= pro_id %></span><span style="font-size: 1em;"><%= pro_name %></span>
      <div class="divider"></div>
      
      <div class="jumbotron" style="padding-top:1em; padding-bottom: 1em; padding-left: 1rem; margin-bottom: 1rem; background-color: #ecf0f1;">
        <a href="/admin/<%= pro_id %>"><i class="fas fa-arrow-left">&nbsp;&nbsp;</i><span>返回</span></a>
          
        <% state = record[0].rec_state; %>
        <div class="jumbotron" style="padding-top:1rem; padding-bottom: 0; padding-left: 3rem; margin-bottom: 1rem; background-color: #ecf0f1;">
            <h5><%= record[0].rec_name %>
              <span class="badge badge-pill badge-info" style="margin-left: 1em; font-weight: normal;"><%= state %></span>
              <a href="/file/<%= record[0].rec_id %>" target="_blank">
                <div class="tooltip" style="float: right; font-size: 1.2rem; margin-left: 1em; color: #50565c;">
                  <i class="fas fa-arrow-down"></i>
                  <span class="tooltiptext">下載檔案</span>
                </div>
              </a>
              <div class="tooltip" style="float: right; font-size: 1.2rem; margin-left: 1em; color: #50565c; cursor: pointer;">
                <i class="fas fa-eye" onclick="document.getElementById('preview').style.display='block';"></i>
                <span class="tooltiptext">預覽檔案</span>
              </div>
            </h5>
            <hr class="my-4">
          
            <div class="card mb-3" style="min-width: 100%;">
              <table class="table">
              <tbody>
                <tr>
                  <td>標籤</td>
                  <td><%= record[0].tag_names %></td>
                </tr>
                <tr>
                  <td>上次修改時間</td>
                  <td><%= record[0].rec_time %></td>
                </tr>
                <tr>
                  <td>上傳者</td>
                  <td><%= record[0].acc_name %></td>
                </tr>
              
          <% if (record[0].rec_reason == null) { %>
            <!-- 審核：若是審核新檔案，表格結束，顯示按鈕 -->
              </tbody>
              </table> 
            </div>
            
            <button type="button" class="btn btn-secondary" onclick="document.getElementById('denyReview').style.display='block';">不通過</button>
            <button type="button" class="btn btn-primary" onclick="document.getElementById('recognizeReview').style.display='block';">通過</button>
            
          <% } else { %>
            <!-- 審核修改：若是審核修改，表格加上一列顯示修改過的檔案，顯示修改原因，顯示按鈕 -->
                <tr>
                  <td>修改後的檔案<br>(須審核的檔案)</td>
                  <td><%= record[0].rec_revisepath.substring(14).slice(0, -26) %>.docx
                    <a href="/file/new/<%= record[0].rec_id %>" target="_blank">
                      <div class="tooltip" style="margin-left: 1em; color: #50565c;">
                        <i class="fas fa-arrow-down"></i>
                        <span class="tooltiptext" style="width: 7rem; margin-left: -3.5rem;">下載修改後檔案</span>
                      </div>
                    </a>
                  </td>
                </tr>
              </tbody>
              </table> 
            </div>

              <div class="card mb-3" style="min-width: 100%; position: relative; display: inline-block;">
                <div class="toast-body">
                申請原因：<%= record[0].rec_reason %>
                </div>
              </div>
              <button type="button" class="btn btn-secondary" onclick="document.getElementById('deny').style.display='block';">不通過</button>
              <button type="button" class="btn btn-primary" onclick="document.getElementById('recognize').style.display='block';">通過</button>
            
                
          <% } %>

        </div>
      </div>
    </div>
    

    

        <!--審核通過modal-->
        <div id="recognizeReview" class="modal" >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <form method="POST" class="form-group" action="/admin/<%= pro_id %>/<%= record[0].rec_id %>/audit">
                <div class="modal-header">
                    <h5 class="modal-title">確定「通過」會議記錄？</h5>
                </div>
                <div class="modal-footer">
                    <input type="button" value="取消" class="btn btn-secondary" onclick="document.getElementById('recognizeReview').style.display='none';">
                    <input type="submit" value="確定" class="btn btn-primary" id="btnRecognize">
                </div>
              </form>
            </div>
          </div>
        </div>



        <!--審核不通過modal-->
        <div id="denyReview" class="modal" >
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <form method="POST" class="form-group" id="denyForm" action="/admin/<%= pro_id %>/<%= record[0].rec_id %>/audit">
                      <div class="modal-header">
                        <h5 class="modal-title">確定「不通過」會議記錄？</h5>
                      </div>
                      <div class="modal-body">
                          <label for="denyTextarea">請說明不通過原因</label>
                          <textarea class="form-control" id="denyTextarea" rows="3" name="denyReason"></textarea>
                          <span class="invalid-feedback" id="msg_reason">請輸入原因</span>
                      </div>
                      <div class="modal-footer">
                          <input type="button" value="取消" class="btn btn-secondary" onclick="cancelDenyReview();">
                          <input type="button" value="確定" class="btn btn-primary" id="btnDeny">
                      </div>
                  </form>
              </div>
          </div>
        </div>

        <!--審核修改通過modal-->
        <div id="recognize" class="modal" >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <form method="POST" class="form-group" action="/admin?proid=<%= pro_id %>&recid=<%= record[0].rec_id %>">
                <div class="modal-header">
                    <h5 class="modal-title">確定「通過」會議記錄？</h5>
                </div>
                <div class="modal-footer">
                    <input type="button" value="取消" class="btn btn-secondary" onclick="document.getElementById('recognize').style.display='none';">
                    <input type="submit" value="確定" class="btn btn-primary" id="btnRecognize2">
                </div>
              </form>
            </div>
          </div>
        </div>



        <!--審核修改不通過modal-->
        <div id="deny" class="modal" >
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <form method="POST" class="form-group" id="denyForm2" action="/admin?proid=<%= pro_id %>&recid=<%= record[0].rec_id %>">
                      <div class="modal-header">
                        <h5 class="modal-title">確定「不通過」會議記錄？</h5>
                      </div>
                      <div class="modal-body">
                          <label for="denyTextarea2">請說明不通過原因</label>
                          <textarea class="form-control" id="denyTextarea2" rows="3" name="denyReason2"></textarea>
                          <span class="invalid-feedback" id="msg_reason2">請輸入原因</span>
                      </div>
                      <div class="modal-footer">
                          <input type="button" value="取消" class="btn btn-secondary" onclick="cancelDeny();">
                          <input type="button" value="確定" class="btn btn-primary" id="btnDeny2">
                      </div>
                  </form>
              </div>
          </div>
        </div>


        <!--預覽modal-->
        <div id="preview" class="modal">
          <div class="modal-dialog" role="document" style="min-width: 100%; height: 100%;">
              <div class="modal-content" style="min-height: 100%; scroll-behavior: auto; overflow: auto;">
                  <form method="POST" class="form-group">
                      <div class="modal-header">
                        <h5 class="modal-title"><%= record[0].rec_name%></h5>
                        <button type="button" class="close" aria-label="Close" onclick="document.getElementById('preview').style.display='none';">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <!--審核，只顯示一個檔案-->
                        <% if (record[0].rec_reason == null) { %>

                          <div class="iframe-container">
                            <iframe id="iframe_preview" src="/showfile/<%= record[0].rec_path.substring(14)%>" allowfullscreen></iframe>
                          </div>
                          
                        <% } else { %>

                          <!--審核修改，顯示兩個檔案-->
                          <div class="alert alert-light" style="width: 49.8%; float: left; margin-right: 0.4%; margin-bottom: 0.25rem;">
                            原始會議記錄
                            <!--下載icon-->
                            <a href="/file/<%= record[0].rec_id %>" target="_blank">
                              <i class="fas fa-arrow-down" style="margin-left:1rem; display: inline; color: #50565c;"></i>
                            </a>
                          </div>

                          <div class="alert alert-light" style="width: 49.8%; float: left; margin-bottom: 0.25rem;">
                            修改過的會議記錄
                            <!--下載icon-->
                            <a href="/file/new/<%= record[0].rec_id %>" target="_blank">
                              <i class="fas fa-arrow-down" style="margin-left:1rem; display: inline; color: #50565c;"></i>
                            </a>
                          </div>
                          
                          <div class="iframe-container" style="width: 49.8%; margin-right: 0.4%; float: left;">
                            <iframe id="iframe_preview" src="/showfile/<%= record[0].rec_path.substring(14)%>" allowfullscreen></iframe>
                          </div>
                          <div class="iframe-container" style="width: 49.8%; float: left;">
                            <iframe id="iframe_preview" src="/showfile/<%= record[0].rec_revisepath.substring(14)%>" allowfullscreen></iframe>
                          </div>
                        <% } %>
                      </div>
                  </form>
              </div>
          </div>
        </div>

  </body>

  <script>
    //不通過審核
    $("#btnDeny").click(function(){
      if (!$("#denyTextarea").val()) {
        $("#msg_reason").css("display", "block");
        $('#denyTextarea').addClass("is-invalid");
      } else {
        $("#denyForm").submit();
        alert("已審核<%= record[0].rec_name%>");
      }
      
    })

    //取消審核不通過
    function cancelDenyReview() {
      document.getElementById('denyReview').style.display='none';
      $("#msg_reason").css("display", "none");
      $('#denyTextarea').removeClass("is-invalid").val(null);
    }

    //不通過修改審核
    $("#btnDeny2").click(function(){
      if (!$("#denyTextarea2").val()) {
        $("#msg_reason2").css("display", "block");
        $('#denyTextarea2').addClass("is-invalid");
      } else {
        $("#denyForm2").submit();
        alert("已審核<%= record[0].rec_name%>");
      }
      
    })

    //取消修改審核不通過
    function cancelDeny() {
      document.getElementById('deny').style.display='none';
      $("#msg_reason2").css("display", "none");
      $('#denyTextarea2').removeClass("is-invalid").val(null);
    }
  </script>
</html>