<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel="stylesheet" href="/stylesheets/css/all.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
  </head>
  <body>
    <div><%- include navbar %></div>
    <div class="jumbotron" style="background-color: rgba(88, 87, 87, 0.01); padding-top: 3rem; padding-bottom: 0; margin-bottom: 0;">
      <div class="col-sm-10">
        <div class="card" style="border-color: transparent;">
          <div class="card-body"></div>
        </div>
      </div>
      <span class="badge badge-light">專案代號：<%= pro_id %></span><span style="font-size: 1em;"><%= pro_name %></span>
      <div class="divider"></div>
      <!--書籤 nav tabs-->
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" id="tab_r" onclick="openR();" style="color: #18BC9C;" href="#ctd_review">審核</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" id="tab_pm" onclick="openPM();" style="color: #7b8a8b;" href="#ctd_projectmanage">管理專案</a>
        </li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active show" id="ctd_review">
          <div class="jumbotron" style="padding-top:15px; padding-left: 0; background-color: inherit;">
            

            <!--檔案表格-->
            <% if (review.length == 0) { %>
              <p class="text-primary" style="margin-top: 2em;">沒有需要審核的會議記錄</p>
            <% } else { %>
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">檔名</th>
                    <th scope="col">標籤</th>
                    <th scope="col">上傳者</th>
                    <th scope="col">上次修改時間</th>
                    <!--<th scope="col"></th>-->
                  </tr>
                </thead>
                <tbody>
                  <% isEven = true; %><!--用來判斷 table 的顏色，從第0列開始算，true表偶數列(灰色)、false表奇數列(白色)-->
                  <% for(var i = 0; i < review.length; i++) { %>
                    <% name = review[i].rec_name; %>
                    <% tags = review[i].tag_names; %>
                    <% uploader = review[i].acc_name; %>
                    <% time = review[i].rec_time; %>
                    <% state = review[i].rec_state; %>

                    <% if (isEven == true) { %>
                      <tr class="table-light" style="cursor: pointer;" id="tr" onclick="location.href='/admin/<%=pro_id %>/<%= review[i].rec_id %>';">
                        <th scope="row"><%= name %><span class="badge badge-pill badge-info" style="margin-left: 1em; font-weight: normal;"><%= state %></span></th>
                        <td><%= tags %></td>
                        <td><%= uploader %></td>
                        <td><%= time %></td>
                      </tr>
                      <% isEven = false; %>
                    <% } else if (isEven == false) { %>
                      <tr style="cursor: pointer;" id="tr" onclick="location.href='/admin/<%=pro_id %>/<%= review[i].rec_id %>';">
                        <th scope="row"><%= name %><span class="badge badge-pill badge-info" style="margin-left: 1em; font-weight: normal;"><%= state %></span></th>
                        <td><%= tags %></td>
                        <td><%= uploader %></td>
                        <td><%= time %></td>
                      </tr>
                      <% isEven = true; %>
                    <% } %>
                  <% } %>
                </tbody>
              </table> 
            <% } %>




          </div>  
        </div>
        <div class="tab-pane fade" id="projectmanage">
          <div class="jumbotron" style="padding-top:15px; padding-left: 0; background-color: inherit;">
            



            <div class="card mb-3">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <span class="project-item"><strong>名稱</strong></span>
                    <span class="project-item"><%= pro_name %>
                      <i onclick="document.getElementById('proName').style.display='block';" class="fas fa-edit" style="cursor: pointer; color: #7b8a8b; margin-left: 0.7em;"></i>
                    </span>
                </li>
                <li class="list-group-item">
                  <span class="project-item"><strong>密碼</strong></span>
                  <span class="project-item">&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;
                    <i onclick="document.getElementById('proPw').style.display='block';" class="fas fa-edit" style="cursor: pointer; color: #7b8a8b; margin-left: 0.7em;"></i>
                  </span>
                </li>
                </li>
                <li class="list-group-item">
                  <span class="project-item"><strong>使用者</strong></span>
                  <div class="project-item">
                    <div class="card border-dark mb-3" style="max-width: inherit;">
                      <div class="card-header">管理員<i onclick="document.getElementById('chAdmin').style.display='block';" class="fas fa-edit" style="cursor: pointer; color: #7b8a8b; margin-left: 0.7em;"></i></div>
                      <div class="card-body">
                        <p class="card-text"><%= username %></p>
                      </div>
                      <div class="card-header" style="border-top: 1px solid rgba(0, 0, 0, 0.125);">成員
                        <span class="badge badge-pill badge-dark" style="line-height: 1rem; margin-left: 0.7em;"><%= prodata.length %></span>
                      </div>
                      <div class="card-body">                       
                        <% for(var i=0; i<prodata.length; i++) { %>
                          <div class="alert alert-dismissible alert-light" style="max-width: 10em; display: inline-block; margin-right: 1em;">
                            <button type="button" class="close" data-dismiss="alert" id='<%= prodata[i].acc_id %>' name='<%= prodata[i].acc_name %>' onclick="OpenProMem(this)">&times;</button>
                            <%= prodata[i].acc_name %>
                          </div>
                        <% } %>                       
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>

            <!--修改專案名稱-->
            <div id="proName" class="modal" >
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <form class="form-group" id="nameForm" method="POST" action="/admin/<%= pro_id %>/pm/change">
                    <div class="modal-header"><h5 class="modal-title">修改專案名稱</h5></div>
                    <div class="modal-body">
                      <label class="col-form-label">請輸入專案名稱</label>
                      <input class="form-control" type="text" name="proname" id="proname">
                      <span class="invalid-feedback" id="message1"></span>
                    </div>
                    <div class="modal-footer">
                      <input type="button" value="取消" class="btn btn-secondary" data-dismiss="modal" onclick="closeProName()">
                      <input type="button" value="儲存" class="btn btn-primary" id="btn1">
                    </div>
                  </form>
                </div>
              </div>
            </div>

            <!--修改專案密碼-->
            <div id="proPw" class="modal" >
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <form class="form-group">
                    <div class="modal-header"><h5 class="modal-title">修改專案密碼</h5></div>
                    <div class="modal-body">
                      <label class="col-form-label">原始密碼</label>
                      <input class="form-control" type="password" name="propw" id="propw">
                      <label class="col-form-label">新的密碼</label>
                      <input class="form-control" type="password" name="newpropw1" id="newpropw1">
                      <label class="col-form-label">請再次輸入新密碼</label>
                      <input class="form-control" type="password" name="newpropw2" id="newpropw2">
                      <input type="hidden" value="<%= pro_id %>" id="proid" name="proid">
                      <span class="invalid-feedback" id="message2"></span>
                    </div>
                    <div class="modal-footer">
                      <input type="button" value="取消" class="btn btn-secondary" data-dismiss="modal" onclick="closeProPw()">
                      <input type="button" value="儲存" class="btn btn-primary" id="btn2">
                    </div>
                  </form>
                </div>
              </div>
            </div>

            <!--移除專案成員-->
            <div id="proMem" class="modal" >
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <form class="form-group" id="memForm" method="POST" action="/admin/<%= pro_id %>/pm/change">
                    <div class="modal-header"><h5 class="modal-title" id="promem"></h5></div>                    
                    <div class="modal-footer">
                      <input type="button" value="取消" class="btn btn-secondary" data-dismiss="modal" onclick="document.getElementById('proMem').style.display='none';">
                      <input type="submit" value="確定" class="btn btn-primary" id="deletemem">
                    </div>
                  </form>
                </div>
              </div>
            </div>

            <!--更換專案管理員驗證身分-->
            <div id="chAdmin" class="modal" >
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <form class="form-group">
                    <div class="modal-header"><h5 class="modal-title">我們需要驗證您的身分</h5></div>
                    <div class="modal-body">
                      <label class="col-form-label">請輸入您註冊時的密碼</label>
                      <input class="form-control" type="password" name="chpw" id="chpw">
                      <input type="hidden" value="<%= pro_id %>" id="proid" name="proid">
                      <span class="invalid-feedback" id="message3"></span>
                    </div>
                    <div class="modal-footer">
                      <input type="button" value="取消" class="btn btn-secondary" data-dismiss="modal" onclick="closeChAdmin()">
                      <input type="button" value="繼續" class="btn btn-primary" id="btn3">
                    </div>
                  </form>
                </div>
              </div>
            </div>

            <!--更換專案管理員驗證身分-->
            <div id="changeAdmin" class="modal" >
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <form class="form-group" id="newadminForm" method="POST" action="/admin/<%= pro_id %>/pm/change">
                    <div class="modal-header"><h5 class="modal-title">更換管理員</h5></div>
                    <div class="modal-body" style="scroll-behavior: auto;">
                      <h6 class="modal-title">請勾選欲更換的管理員：</h6>
                      <table width='100%' style="border-collapse:separate; border-spacing: 0px 1rem;">                
                        <% for(var i=0; i<prodata.length; i++) { %>
                          <% if( i%4 == 0 ) {%>
                            <tr>
                          <% } %>
                          <td>
                            <div class="custom-control custom-radio">
                              <input type="radio" value='<%= prodata[i].acc_id %>' name='newadmin' id='newadmin<%= prodata[i].acc_id %>' class="custom-control-input">
                              <label class="custom-control-label" for="newadmin<%= prodata[i].acc_id %>"><%= prodata[i].acc_name %></label>
                            </div>
                          </td>
                          <% if( i%4 == 3 || i == prodata.length-1) {%>
                            </tr>
                          <% } %>
                        <% } %>
                      </table>                                
                      <span class="invalid-feedback" id="message4"></span>
                    </div>
                    <div class="modal-footer">
                      <span class="invalid-feedback" style="display: block; width: fit-content;">注意：更換後您的身分將變為成員</span>
                      <input type="button" value="取消" class="btn btn-secondary" data-dismiss="modal" onclick="closeChangeAdmin()">
                      <input type="button" value="確認" class="btn btn-primary" id="btn4">
                    </div>
                  </form>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    
  </body>

  <script>
    /**tabs**/
    function openR() {
      $("#tab_r").addClass("active");
      $("#tab_pm").removeClass("active");
      $("#ctd_review").addClass("active show");
      $("#projectmanage").removeClass("active show");
      $('#tab_r').css("color", "#18BC9C");
      $('#tab_pm').css("color", "#7b8a8b");
    }

    function openPM() {
      $("#tab_pm").addClass("active");
      $("#tab_r").removeClass("active");
      $("#projectmanage").addClass("active show");
      $("#ctd_review").removeClass("active show");
      $('#tab_pm').css("color", "#18BC9C");
      $('#tab_r').css("color", "#7b8a8b");
    }

    //關閉修改專案名稱視窗
    function closeProName() {
      $("#proname").val(null);
      $('#proname').removeClass("is-invalid");
      $("#message1").css("display", "none");
      document.getElementById("proName").style.display = "none";
    }

    //關閉修改專案密碼視窗
    function closeProPw() {
      $("#propw").val(null).removeClass("is-invalid");
      $("#newpropw1").val(null).removeClass("is-invalid");
      $("#newpropw2").val(null).removeClass("is-invalid");
      $("#message2").css("display", "none");
      document.getElementById("proPw").style.display = "none";
    }

    //儲存修改專案名稱按鈕
    $("#btn1").click(function(){
      if (!$("#proname").val()) {
        $('#proname').addClass("is-invalid");
        $("#message1").text("請輸入專案名稱").css("display", "block").addClass("is-invalid");
        alert("dddd");
      } else {
        $("#nameForm").submit();
        alert("sss");
      }     
    })

    //儲存修改專案密碼按鈕
    $("#btn2").click(function(){
      if (!$("#propw").val() || !$("#newpropw1").val() || !$("#newpropw2").val()) {
        if (!$("#propw").val() && !$("#newpropw1").val() && !$("#newpropw2").val()){//三個都空顯示紅框
          $('#propw').addClass("is-invalid");
          $('#newpropw1').addClass("is-invalid");
          $('#newpropw2').addClass("is-invalid");
        }
        else {//空的才顯示紅框
          $('#propw').removeClass("is-invalid");
          $('#newpropw1').removeClass("is-invalid");
          $('#newpropw2').removeClass("is-invalid");
          if (!$("#propw").val()) {
            $('#propw').addClass("is-invalid");
          }
          if (!$("#newpropw1").val()) {
            $('#newpropw1').addClass("is-invalid");
          }
          if (!$("#newpropw2").val()) {
            $('#newpropw2').addClass("is-invalid");
          }
        }
        $("#message2").text("請輸入未填欄位").css("display", "block").addClass("is-invalid");
        
      } else if ($("#newpropw1").val() != $("#newpropw2").val()) {//密碼不同
        $('#propw').removeClass("is-invalid");
        $('#newpropw1').addClass("is-invalid");
        $('#newpropw2').addClass("is-invalid");
        $("#message2").text("密碼不相同").css("display", "block");

      } else {
        $('#propw').removeClass("is-invalid");
        $('#newpropw1').removeClass("is-invalid");
        $('#newpropw2').removeClass("is-invalid");
        $("#message2").css("display", "none");
        $.ajax({
          url:"/admin/" + $('#proid').val() + "/pm/change",
          data:{'propw': $('#propw').val(), 'newpropw1': $('#newpropw1').val()},
          type:"POST",
          success: function(res) {
            if (res.status == 1) {//專案密碼錯誤
              $('#message2').text(res.msg).css("display", "block");
              $('#propw').addClass("is-invalid");
            }
            else if (res.status == 0){
              location.href='/admin/' + $('#proid').val();
            }
          }
        })
      }     
    })

    //顯示移除專案成員視窗
    function OpenProMem(mem) {
      var text = "確定移除 " + mem.name + "？";
      $('#promem').text(text);
      document.getElementById('proMem').style.display='block';
      $("#deletemem").click(function(){
        $.ajax({
          url: "/admin/" + $('#proid').val() + "/pm/change",
          data:{'member': mem.id},
          type: 'POST',
          success: function(res){
            if(res.status == 0){
              location.href='/admin/' + $('#proid').val()
            }         
          }      
        })
      })
    }

    //關閉驗證管理員身分視窗
    function closeChAdmin() {
      $("#chpw").val(null).removeClass("is-invalid");
      $("#message3").css("display", "none");
      document.getElementById("chAdmin").style.display = "none";
    }

    //驗證管理員密碼按鈕
    $("#btn3").click(function(){
      if (!$("#chpw").val()) {
        $('#chpw').addClass("is-invalid");
        $("#message3").text("請輸入未填欄位").css("display", "block").addClass("is-invalid");
      } else {
        $('#chpw').removeClass("is-invalid");
        $.ajax({
          url: "/admin/" + $('#proid').val() + "/pm/change",
          data:{'chpw': $("#chpw").val()},
          type: 'POST',
          success: function(res){
            if(res.status == 1){
              $('#message3').text(res.msg).css("display", "block");
              $('#chpw').addClass("is-invalid");
            }
            else if(res.status == 0){
              closeChAdmin();
              document.getElementById('changeAdmin').style.display='block';
            }       
          }      
        })
      }     
    })

    //關閉更換管理員視窗
    function closeChangeAdmin() {
      $('input[name=newadmin]').attr("checked", false);
      $("#message4").css("display", "none");
      document.getElementById("changeAdmin").style.display = "none";
    }

    //換新管理員按鈕
    $("#btn4").click(function(){
      if ($("input:radio[name=newadmin]:checked").val()) {
        $("#newadminForm").submit();
      }
      else{
        $("#message4").text("請選擇一位成員").css("display", "block").addClass("is-invalid");
      }    
    })

    //匯入solr
    $(document).ready(function() {        
      $.ajax({
        url: 'http://localhost:8983/solr/new_core/dataimport?command=full-import&clean=true&debug=true',
        dataType:'jsonp',
        type: 'POST',
        contentType: 'application/json',
        data:"",  
      })      
    });
  </script>
</html>