<!DOCTYPE html>
<html>
  <%- include headerTag %>
  <body>
    <div class="waiting" id="waitingUpload">
      等待上傳音檔與文檔...
    </div>
  <div><%- include navbar %></div>
    
    <div class="jumbotron" style="background-color: rgba(88, 87, 87, 0.01); padding-top: 3rem; padding-bottom: 0; margin-bottom: 0;">
      <div class="col-sm-10">
        <div class="card" style="border-color: transparent;">
          <div class="card-body"></div>
        </div>
      </div>
      <span class="badge badge-light">專案代號：<%= pro_id %></span><span style="font-size: 1em;"><%= pro_name %></span>
      <!--結束會議-->
      <button type="button" id="btnMeeting" onclick="postEnd();" class="btn btn-outline-warning btn-sm" style="float: right;">結束會議</button>
      <span id="onAir" class="badge badge-danger">錄音中</span>
      <div class="divider"></div>

      <!--錄音區塊-->
      <div class="card bg-light mb-3" style="border-width: 0;">
        <div class="card-body">
          <p id="msgRecord">請按下開始鍵，並輸入檔名，開始錄音、按下結束會議，回到會議記錄列表</p>
            <button type="button" class="close" id="startRecord" onclick="document.getElementById('audiotext').style.display='block';" aria-label="Close" style="float: left; font-size: 1.2rem; line-height: 1.5; color: #2C3E50; opacity: 1;">
                <span aria-hidden="true" style="margin-right: 2em;"><i class="fas fa-play"></i></span>
            </button>
            <button type="button" class="close icon" id="stopRecord" disabled onclick="stopRecord();" aria-label="Close" style="float: left; font-size: 1.2rem; line-height: 1.5; color: #2C3E50; opacity: 1;">
                <span aria-hidden="true" style="margin-right: 2em;"><i class="fas fa-stop"></i></span>
            </button>
            <span id="time" style=" font-size: 1.2rem; font-weight: 700; line-height: 1.5;">00:00:00</span>
            <div class="card-body">
              <div id="animateRecord" class="record-animate" style="width: 100%; height: 45px; margin-top: 1em; padding: 1em 1em; overflow: hidden;">
                <% for (var i = 0; i<30; i++) { %>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                <% } %>
              </div>
            </div>
        </div>
      </div>

      <!--搜尋區塊-->
      <div class="card bg-light  mb-3"style="border-width: 0;">
        <div class="card-body">
          <p>輸入關鍵字開始搜尋會議記錄</p>
          <form  class="form-inline my-2 my-lg-0" style="position: relative; display: inline-block; padding-left: 1em; margin-top: 1em; margin-right: 2em;">
            <div class="form-inline">
              <div class="form-group">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" style="border-color: inherit;"><i class="fas fa-search"></i></span>
                  </div>
                  <input class="form-control" type="text" style="border-color: inherit;" name="searchMinute" id="searchMinute" placeholder="搜尋會議記錄" aria-label="Search minutes">
                  <div class="input-group-append">
                    <input id="btnSearch" class="btn btn-outline-secondary" style=" border-left-width: 0;" type="button" value="搜尋">
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      
    </div>



    <!--搜尋結果modal-->
    <div id="searchResult" class="modal">
      <div class="modal-dialog" role="document" style="min-width: 100%; height: 100%;">
          <div class="modal-content" style="min-height: 100%; scroll-behavior: auto; overflow: auto;">
              <form method="POST" class="form-group">
                  <div class="modal-header" style="margin-bottom: 1rem;">
                    <h5 class="modal-title">搜尋結果</h5>
                    <div style="display: inline-block; line-height: 1.5;">
                      <i class="fas fa-circle" style="position: relative; font-size: 0.6rem; color: #f2d600; margin-left: 1em;"></i>
                      <h6 style="display: inline; vertical-align:middle;">表示審核中</h6>
                      <i class="fas fa-circle" style="position: relative; font-size: 0.6rem; color: #E74C3C; margin-left: 1em;"></i>
                      <h6 style="display: inline; vertical-align:middle">表示審核不通過</h6>
                    </div>
                    <button type="button" onclick="closeResult()" class="close" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body" style="padding-top: 0;">
                    
                    <p id="p">no data</p>
                    <div id='div'>  
                      <div class="list-group"  style="width: 15rem; float: left; margin-right: 1rem;">
                      </div>
                      <div class="iframe-container">
                        <iframe id="iframe_preview" allowfullscreen></iframe>
                      </div>
                    </div>                   
                  </div>
              </form>
          </div>
      </div>
    </div>

    <!--結束錄音，音檔文檔上傳-->
    <div id="audiotext" class="modal" >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form class="form-group" id="nameForm">
            <div class="modal-header">
              <h5 class="modal-title">儲存音檔與文檔</h5>
            </div>
            <div class="modal-body">
              <label class="col-form-label">請輸入檔名</label>
              <div style="width: 100%; height: fit-content;">
                <span id="date" class="form-control" style="width: fit-content; display: inline-block; padding: 0.375rem 0; border: 0px;"></span>
                <input class="form-control" type="text" name="name" id="name" style="width: 83.5%; display: inline-block;">
              </div>
            </div>
            <div class="modal-footer">
              <input type="button" value="取消" class="btn btn-secondary" data-dismiss="modal" onclick="closeAudiotext()">
              <input type="button" value="儲存" class="btn btn-primary" id="send">
            </div>
          </form>
        </div>
      </div>
    </div>


  </body>

  <script>
    var uploadfilename;
    var date = new Date();
    var yy = date.getFullYear();
    var mm = date.getMonth()+1;//預設是0 記得+1
    var dd = date.getDate();
    if(mm<10){
      mm = "0"+mm;
    }
    if(dd<10){
      dd = "0"+dd;
    }
    $('#date').text(yy+'-'+mm+'-'+dd); 

    function closeAudiotext() {
      $('#name').val(null);
      $('#name').removeClass("is-invalid");
      $('#audiotext').hide();
    }

    $('#send').click(function() {
      if(!$('#name').val()){
        $('#name').addClass("is-invalid");
      }
      else{
        uploadfilename = $('#name').val();
        var data = {datapoints:[ {dataChnId:'project_id', values: {value: '<%= pro_id %>*' + $('#name').val()} } ] }
        $.ajax({
          url: 'https://api.mediatek.com/mcs/v2/devices/D0GyA2Da/datapoints',
          headers: {deviceKey:'nOJM4aFkjC980deR'},
          type: 'POST',
          contentType: 'application/json',
          data: JSON.stringify(data),
          success: function(res){
          
          }  
        })
        closeAudiotext();
        startRecord();
      }      
    })

    $('#btnSearch').click(function() {     
      search();
    })

    function closeResult() {
      $('#searchMinute').val(null);
      $('#searchResult').hide();
    }

    //定義iframe的路徑
    function showPreview(k) {
      $("#iframe_preview").attr("src", "/showfile/" + k);
    }
    
    //隱藏「錄音中」
    $( document ).ready(function () {
      $("#onAir").hide();      
    })

    //開始錄音
    function startRecord(){
      $("#onAir").fadeIn(1000);//顯示「錄音中」
      $("#msgRecord").text("請按下停止鍵，停止錄音");//顯示提示字
      $("#startRecord").attr("disabled", true);//使「開始鍵」無法點
      $("#stopRecord").removeAttr("disabled", false);//使「停止鍵」無法點
      $("div").css("animation-play-state", "running");//錄音動畫開始
      $("#btnMeeting").attr("disabled", true);//使「結束會議鍵」無法點
      postStart();
      start();
    }

    //停止錄音
    function stopRecord(){
      $("#onAir").hide();//隱藏「錄音中」
      $("#msgRecord").text("請按下開始鍵，開始錄音、按下結束會議，回到會議記錄列表");//顯示提示字
      $("#stopRecord").attr("disabled", true);//使「停止鍵」無法點
      $("#startRecord").attr("disabled", false);//使「開始鍵」無法點
      $("div").css("animation-play-state", "paused");//錄音動畫結束
      $("#btnMeeting").attr("disabled", false);//使「開始鍵」無法點
      postOff();
      stop();
      waitForUpload();
    }

    //計時器動畫
    var h = m = s = 0;   //定義時、分、秒初始為0
    var time = 0;
    var word;
    var uploadfile;
 
    function timer() {   //定義計時函數
      s = s + 1;
      if (s >= 60){
        s = 0;
        m = m + 1;        //分钟
      }
      if (m >= 60) {
        m = 0;
        h = h + 1;        //小时
      }
      str = toDub(h) + ":" + toDub(m) + ":" + toDub(s);
      $('#time').text(str);
    }
  
    function reset(){  //重置
      clearInterval(time);
      h = m = s = 0;
      $("#time").text("00:00:00");
    }
  
    function start() {  //開始
      reset();
      time = setInterval(timer, 1000);//每隔 1 秒執行一次函式 timer()
      word = setInterval(getWords, 2000);//每2秒取得語音搜檔關鍵字
    }
  
    function stop() {  //停止
      clearInterval(time);
      clearInterval(word);
    }
  
    function toDub(n) {  //補0
      if (n < 10)
        return "0" + n;
      else
        return "" + n;
    }

    function getWords() { //取值 mcs words
      $.ajax({
          url: 'https://api.mediatek.com/mcs/v2/devices/D0GyA2Da/datachannels/words/datapoints',//deviceld: D0GyA2Da, deviceKey: nOJM4aFkjC980deR, datachannelID: words
          headers: {deviceKey:'nOJM4aFkjC980deR'},
          type: 'GET',
          contentType: 'application/json',
          success: function(res){
            var value = res.dataChannels[0].dataPoints[0].values.value;
            if(value!="" && value!=$('#searchMinute').val()){
              $('#searchMinute').val(value)
              console.log($('#searchMinute').val());              
              search();
              wordsnull();              
            }     
          }  
      })
      
    } 
    
    function search() { //查檔
      $.ajax({
        url: '/meeting/<%= pro_id %>',
        type: 'POST',
        data: {'searchMinute': $('#searchMinute').val()},
        success: function(res){
          if(res.num==0){
            $('#searchResult').show();
            $('#p').show();
            $("#div").hide();
          }
          else{
            $('#p').hide();
            $("#div").show();
            var strList = '';
            var filename = res.minute[0].rec_path.substring(14);
            showPreview(filename);           
            for (let i in res.minute) {
              if (res.minute[i].rec_revisepath && res.minute[i].rec_reason) {
                strList += '<a href="#" id="list" name="list" class="list-group-item list-group-item-action" style="color: #2C3E50; border-width: 0px 1px;">';
                strList += '<i class="fas fa-circle" style="font-size: 0.6rem; color: #f2d600;"></i>';
                strList +='<strong>' + res.minute[i].rec_revisepath.substring(14).slice(0, -26) +'.docx</strong><br>';
                strList += '<span class="badge badge-light">' + res.minute[i].tag_names + '</span>';
                strList += '<input type="hidden" id="filename" name="filename" value="' + res.minute[i].rec_revisepath.substring(14)+ '">' ;
                strList += '</a>';
              }
              
              strList += '<a href="#" id="list" name="list" class="list-group-item list-group-item-action" style="color: #2C3E50;">';
              if (res.minute[i].rec_state == '審核中') {
                if (res.minute[i].rec_reason == null)
                  strList += '<i class="fas fa-circle" style="font-size: 0.6rem; color: #f2d600;"></i>';
              } else if (res.minute[i].rec_state == '審核不通過')
                strList += '<i class="fas fa-circle" style="font-size: 0.6rem; color: #E74C3C;"></i>';
              
              strList +='<strong>' + res.minute[i].rec_name +'</strong><br>';
              if(res.minute[i].tag_names) {
                strList += '<span class="badge badge-light">' + res.minute[i].tag_names + '</span>';
              }             
              strList += '<input type="hidden" id="filename" name="filename" value="' + res.minute[i].rec_path.substring(14)+ '">' ;
              strList += '</a>';
              
              $(".list-group").html(strList);
              
            }
 
            $('#searchResult').show();
            var x = document.getElementsByName('list');
            var y = document.getElementsByName("filename");
            for (let k = 0; k < x.length; k++){
              (function(){x[k].addEventListener("click",function() {showPreview(y[k].value)})} )(k);              
            }          
          }
          
        }
      })
    }

    function wordsnull() { //清除mcs值 words
      var data = {datapoints:[ {dataChnId:'words', values: {value: ''} } ] }
      $.ajax({
        url: 'https://api.mediatek.com/mcs/v2/devices/D0GyA2Da/datapoints',
        headers: {deviceKey:'nOJM4aFkjC980deR'},
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify(data),
        success: function(res){ 
                                           
        }  
      })
    }

    function postStart() { //開始錄音 傳值start
      var data = {
        datapoints:[ {dataChnId:'start', values: {value: 'start'} } ]
      }
      $.ajax({
        url: 'https://api.mediatek.com/mcs/v2/devices/D0GyA2Da/datapoints',
        headers: {deviceKey:'nOJM4aFkjC980deR'},
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify(data),
        success: function(res){
          console.log('start');
        }  
      })
    }

    function postOff() { //結束錄音 傳值off
      var data = {
        datapoints:[ {dataChnId:'start', values: {value: 'off'} } ]
      }
      $.ajax({
        url: 'https://api.mediatek.com/mcs/v2/devices/D0GyA2Da/datapoints',
        headers: {deviceKey:'nOJM4aFkjC980deR'},
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify(data),
        success: function(res){
          console.log('off');
        }  
      })
    }

    function postEnd() { //結束會議 傳值end
      var data = {
        datapoints:[ {dataChnId:'start', values: {value: 'end'} } ]
      }
      $.ajax({
        url: 'https://api.mediatek.com/mcs/v2/devices/D0GyA2Da/datapoints',
        headers: {deviceKey:'nOJM4aFkjC980deR'},
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify(data),
        success: function(res){
          console.log('end');
          location.href='/member/<%= pro_id %>';
        }  
      })
    }

    function project_idnull() { //清除mcs值 project_id
      var data = {
        datapoints:[ {dataChnId:'project_id', values: {value: ''} } ]
      }
      $.ajax({
        url: 'https://api.mediatek.com/mcs/v2/devices/D0GyA2Da/datapoints',
        headers: {deviceKey:'nOJM4aFkjC980deR'},
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify(data),
        success: function(res){
          console.log('project_id null');
        }  
      })
    }

    function upload() { //確認音檔是否上傳
      var data = yy+''+mm+''+dd + '-'+ uploadfilename ;
      $.ajax({
        url: '/meeting/upload/<%= pro_id %>',
        type: 'POST',
        data:  {'name': data},
        success: function(res) {
          var times=0;
          if(res.status==0){
            $("#waitingUpload").slideToggle("slow");            
            clearInterval(uploadfile);
            project_idnull();
            times=-1;           
          }
          if(times==-1){
            setTimeout(function() {
              alert('檔案已上傳至雲端');
            }, 1000)                               
            times=0;
          }
        }
      })
    }

    function waitForUpload() {
      $("#waitingUpload").slideToggle("slow");
      uploadfile = setInterval(upload, 2000);//每2秒確認音文檔上傳
    }
  
  </script>

</html>