<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel="stylesheet" href="/stylesheets/css/all.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
  </head>
  <body>
    <div><%- include navbar %></div>
    <div class="jumbotron" style="background-color: rgba(88, 87, 87, 0.01); padding-top: 3rem;">
      <div class="col-sm-10">
        <div class="card" style="border-color: transparent;">
          <div class="card-body"></div>
        </div>
      </div>
      <span class="badge badge-light">專案代號：<%= pro_id %></span><span style="font-size: 1em;"><%= pro_name %></span>
      <div class="divider"></div>
      

      <!--書籤 nav tabs-->
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" id="tab_m" onclick="openM();" style="color: #18BC9C;" href="#minutes">會議記錄</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" id="tab_at" onclick="openAT();" style="color: #7b8a8b;" href="#audioText">文檔與音檔</a>
        </li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active show" id="ctd_minutes">
          <div class="jumbotron" style="padding-top:15px; padding-left: 0; background-color: inherit;">

            <!--新增會議記錄-->
            <div class="nav-item dropdown" id="add_toggle" onclick="$('#file_dropdown').slideToggle(200);" style="position: relative; float: left; display: block; margin-right: 1em;">  
              <button type="button" class="btn btn-outline-primary"><i class="fas fa-plus"></i>&nbsp;&nbsp;新增</button>
          
                <div class="dropdown-menu" id="file_dropdown" aria-labelledby="themes">
                    <a class="dropdown-item" href="#" onclick="document.getElementById('upload').style.display='block';"><i class="fas fa-file-alt"></i>&nbsp&nbsp&nbsp新檔案上傳</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" onclick="document.getElementById('uploadold').style.display='block';"><i class="fas fa-archive"></i>&nbsp;&nbsp;&nbsp;舊檔案上傳</a>
                </div>
            </div>
            
            
            <!--上傳新檔案modal-->
    <div id="upload" class="modal" >
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <form class="form-group" enctype="multipart/form-data" method="POST" action="/file/newminute?proid=<%= pro_id %>">
                  <div class="modal-header">
                    <h5 class="modal-title">上傳新會議記錄</h5>
                  </div>
                  <div class="modal-body">
                      <!--<iframe id="iframe_upload" src="https://script.google.com/macros/s/AKfycbzlikYulCzy4fKGcBOUvlUuENPXrGnjJ9sdpEdbsFiqDZo_aik/exec" width="100%" height="100%" frameborder="0" scrolling="no" allowfullscreen></iframe>-->
                      <input type="file" class="form-control-file" id="files" name="files" aria-describedby="fileHelp" required >
                      <label class="col-form-label">檔名</label>
                      
                  </div>
                  <div class="modal-footer">
                      <input type="button" value="取消" class="btn btn-secondary" data-dismiss="modal" onclick="cancelUpload();">
                      <input type="submit" value="確定" class="btn btn-primary" id="btn1">
                  </div>
              </form>
          </div>
      </div>
    </div>

    <!--上傳舊檔案modal-->
    <div id="uploadold" class="modal" >
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <form class="form-group" enctype="multipart/form-data" method="POST" action="/file/oldminute?proid=<%= pro_id %>">
                  <div class="modal-header">
                    <h5 class="modal-title">上傳舊會議記錄</h5>
                  </div>
                  <div class="modal-body">
                      <!--<iframe id="iframe_upload" src="https://script.google.com/macros/s/AKfycbzlikYulCzy4fKGcBOUvlUuENPXrGnjJ9sdpEdbsFiqDZo_aik/exec" width="100%" height="100%" frameborder="0" scrolling="no" allowfullscreen></iframe>-->
                      <input type="file" class="form-control-file" id="oldfiles" name="oldfiles" aria-describedby="fileHelp" required >
                      <label class="col-form-label">檔名</label>
                      
                  </div>
                  <div class="modal-footer">
                      <input type="button" value="取消" class="btn btn-secondary" data-dismiss="modal" onclick="cancelUploadOld();">
                      <input type="submit" value="確定" class="btn btn-primary" id="btn2">
                  </div>
              </form>
          </div>
      </div>
    </div>


            <!--搜尋會議記錄-->
            <form method="post" action="" class="form-inline my-2 my-lg-0" style="position: relative; display: inline-block; padding-left: 1em; margin-top: 1em; margin-right: 2em;">
              <div class="form-inline">
                <div class="form-group">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" style="color: #2C3E50; border-color: inherit;"><i class="fas fa-search"></i></span>
                    </div>
                    <input class="form-control" type="text" style="border-color: #2C3E50;" name="searchRecord" id="searchRecord" placeholder="搜尋會議紀錄" aria-label="Search minutes">
                    <div class="input-group-append">
                      <input class="btn btn-outline-primary" style=" border-left-width: 0;" type="submit" value="搜尋">
                    </div>
                  </div>
                </div>
              </div>
            </form>

            <!--篩選-->
            <div style="position: relative; display: inline-block;  margin-right: 1em;">
              <form method="POST" id="formfilter">
                <label>篩選：</label>

                  <div class="custom-control custom-checkbox" style="position: relative; display: inline-block; margin-left: 1em;">
                    <input type="checkbox" class="custom-control-input" id="denyReview" value="審核不通過" checked>
                    <label class="custom-control-label" for="denyReview">審核不通過</label>
                  </div>
                  <div class="custom-control custom-checkbox" style="position: relative; display: inline-block; margin-left: 1em;">
                    <input type="checkbox" class="custom-control-input" id="underReview" value="審核中" checked>
                    <label class="custom-control-label" for="underReview">審核中</label>
                  </div>
                  <div class="custom-control custom-checkbox" style="position: relative; display: inline-block; margin-left: 1em;">
                    <input type="checkbox" class="custom-control-input" id="doneFile" value="已確立檔案" checked>
                    <label class="custom-control-label" for="doneFile">已確立檔案</label>
                  </div>
                  <input type="hidden" id="filter" name="filter">

              </form>
            </div>
          

            <!--檔案表格-->
            <% if (record.length == 0) { %>
              <p class="text-primary" style="margin-top: 2em;">沒有符合的項目</p>
            <% } else { %>
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">檔名</th>
                    <th scope="col">標籤</th>
                    <th scope="col">上傳者</th>
                    <th scope="col">上次修改時間</th>
                  </tr>
                </thead>
                <tbody>
                  <% isEven = true; %><!--用來判斷 table 的顏色，從第0列開始算，true表偶數列(灰色)、false表奇數列(白色)-->
                  <% for(var i = 0; i < record.length; i++) { %>
                    <% name = record[i].rec_name; %>
                    <% tags = record[i].tag_names; %>
                    <% uploader = record[i].acc_name; %>
                    <% time = record[i].rec_time; %>
                    <% state = record[i].rec_state; %>

                    <% if (isEven == true) { %>
                      <tr class="table-light" style="cursor: pointer;" onclick="location.href='/member/<%=pro_id %>/<%= record[i].rec_id %>';">
                        <th scope="row"><%= name %><span class="badge badge-pill badge-info" style="margin-left: 1em; font-weight: normal;"><%= state %></span></th>
                        <td><%= tags %></td>
                        <td><%= uploader %></td>
                        <td><%= time %></td>
                      </tr>
                      <% isEven = false; %>
                    <% } else if (isEven == false) { %>
                      <tr style="cursor: pointer;" onclick="location.href='/member/<%=pro_id %>/<%= record[i].rec_id %>';">
                        <th scope="row"><%= name %><span class="badge badge-pill badge-info" style="margin-left: 1em; font-weight: normal;"><%= state %></span></th>
                        <td><%= tags %></td>
                        <td><%= uploader %></td>
                        <td><%= time %></td>
                      </tr>
                      <% isEven = true; %>
                    <% } %>
                  <% } %>
                </tbody>
              </table> 
            <% } %>




          </div>  
        </div>
        <div class="tab-pane fade" id="ctd_audioText">
          <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
        </div>
      </div>
    


    </div>
    
  </body>

  <script>
    /*checkbox*/
    $(document).ready(function(){
      
      /*checkbox是否呈現勾選*/
      if ('<%= cb[0] %>' == 'true') {
        $("#denyReview").attr("checked", "checked");
      } else if ('<%= cb[0] %>' == 'false') {
        $("#denyReview").removeAttr("checked");
      }
      if ('<%= cb[1] %>' == 'true') {
        $("#underReview").attr("checked", "checked");
      } else if ('<%= cb[1] %>' == 'false') {
        $("#underReview").removeAttr("checked");
      }
      if ('<%= cb[2] %>' == 'true') {
        $("#doneFile").attr("checked", "checked");
      } else if ('<%= cb[2] %>' == 'false') {
        $("#doneFile").removeAttr("checked");
      }
      
      /* if checkbox is changed */
      $('input[type=checkbox]').on('change', function(i) {
            var val = [];
      
            /* use each method to get all checkbox values into an object */
            $(':checkbox:checked').each(function(i) {
              if($(this).is(':checked')) {
                val[i] = $(this).val();
              }
            });
            
            /* Encode data string into JSON. */
            var jsonString = JSON.stringify({val});

            $("#filter").val(jsonString);
            $("#formfilter").submit();

      });
    });


    /**tabs**/
    function openM() {
      $("#tab_m").addClass("active");
      $("#tab_at").removeClass("active");
      $("#ctd_minutes").addClass("active");
      $("#ctd_minutes").addClass("show");
      $("#ctd_audioText").removeClass("active");
      $("#ctd_audioText").removeClass("show");
      $('#tab_m').css("color", "#18BC9C");
      $('#tab_at').css("color", "#7b8a8b");
    }

    function openAT() {
      $("#tab_at").addClass("active");
      $("#tab_m").removeClass("active");
      $("#ctd_audioText").addClass("active");
      $("#ctd_audioText").addClass("show");
      $("#ctd_minutes").removeClass("active");
      $("#ctd_minutes").removeClass("show");
      $('#tab_at').css("color", "#18BC9C");
      $('#tab_m').css("color", "#7b8a8b");
    }

    function cancelUpload() {//取消新檔案上傳
      $("#files").val(null);
      document.getElementById('upload').style.display='none';
    }

    function cancelUploadOld() {//取消舊檔案上傳
      $("#oldfiles").val(null);
      document.getElementById('uploadold').style.display='none';
    }

    /**新增會議記錄**/
    $(function () {  
      $('#add_toggle').click(function (event) {  
          //取消事件冒泡  
          event.stopPropagation();  
      });

      //點選空白處隱藏
      $(document).click(function(event){
        var _con = $('#file_dropdown');   // 設定目標區域
        if(!_con.is(event.target) && _con.has(event.target).length === 0){ 
          $('#file_dropdown').slideUp(200);   //滑動消失
        }
      });
    })

    //匯入solr
    $(document).ready(function() {        
      $.ajax({
        url: 'http://localhost:8983/solr/new_core/dataimport?command=full-import&clean=true&debug=true',
        dataType:'jsonp',
        type: 'POST',
        contentType: 'application/json',
        data:"",  
      })      
    });

  </script>
</html>