<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel="stylesheet" href="/stylesheets/css/all.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
  </head>
  <body>
    <div><%- include navbar %></div>
    <div class="jumbotron" style="background-color: rgba(88, 87, 87, 0.01); padding-top: 3rem;">
      <div class="col-sm-10">
        <div class="card" style="border-color: transparent;">
          <div class="card-body"></div>
        </div>
      </div>
      <span class="badge badge-light">專案代號：<%= pro_id %></span><span style="font-size: 1em;"><%= pro_name %></span>
      <div class="divider"></div>
      
      <div class="jumbotron" style="padding-top:1em; padding-bottom: 1em; padding-left: 1rem; margin-bottom: 1rem; background-color: #ecf0f1;">
        <a href="/member/<%= pro_id %>"><i class="fas fa-arrow-left">&nbsp;&nbsp;</i><span>返回</span></a>
          
        <% state = record[0].rec_state; %>
          <div class="jumbotron" style="padding-top:1rem; padding-bottom: 0; padding-left: 3rem; margin-bottom: 1rem; background-color: #ecf0f1;">
          <h5><%= record[0].rec_name %>
            <span class="badge badge-pill badge-info" style="margin-left: 1em; font-weight: normal;"><%= state %></span>
            <a href="/file/<%= record[0].rec_id %>" target="_blank"><i class="fas fa-arrow-down" style="float: right; font-size: 1.2rem; margin-left: 1em; color: #50565c;"></i></a>
            <i class="fas fa-eye" onclick="document.getElementById('preview').style.display='block';" style="float: right; font-size: 1.2rem; margin-left: 1em; color: #50565c; cursor: pointer;"></i>
            <!--<i class="fas fa-tag fa-rotate-135" style="float: right; font-size: 1.2rem; margin-left: 1em; color: #50565c; cursor: pointer;"></i>
            <i class="fas fa-tag" onclick="document.getElementById('tags').style.display='block';" style="float: right; font-size: 1.1rem; color: #50565c; cursor: pointer;"></i>-->
          </h5>
          <hr class="my-4">
          
          <div class="card mb-3" style="min-width: 100%;">
            <table class="table">
            <tbody>
              <tr>
                <td>標籤</td>
                <td><%= record[0].tag_names %>
                  <!--<i class="fas fa-edit" onclick="document.getElementById('tags').style.display='block';" style="margin-left: 1em; color: #50565c; cursor: pointer;"></i>-->


                  <!--編輯標籤按鈕-->
                  <% if (record[0].acc_name == username) { %>

                    <div class="nav-item dropdown" id="tag" onclick="$('#tag_dropdown').slideToggle(200);" style="display: inline; margin-left: 1em; color: #50565c; cursor: pointer;">
                      <i class="fas fa-edit"></i>
                      <div class="dropdown-menu" style="min-width: 12rem;" id="tag_dropdown" aria-labelledby="themes">
                        <form method="POST" id="formfilter">
                          <div style="margin: 10px;">
                            <label for="searchTag">套用標籤</label>
                          
                          
                            <div class="input-group mb-3">
                              <input class="form-control" type="text" style="border-radius: 0; border-width: 0 0 1px 0;" name="searchRecord" id="searchTag" placeholder="搜尋標籤" aria-label="Search minutes">
                              <div class="input-group-append">
                                <button class="btn" style="border-bottom-width: 1px;" type="button"><i class="fas fa-search"></i></button>
                              </div>
                            </div>

                            <% for (var i = 0; i < tag.length; i++) { %>
                              <% cbIsCheck = tag_cbIsChecked(tag[i].tag_name); %>
                              <% if (cbIsCheck == true) { %>
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" id="cb0" value="<%= tag[i].tag_name%>" checked>
                                  <label class="custom-control-label" for="cb0"><%= tag[i].tag_name%></label>
                                </div>
                              <% } else if (cbIsCheck == false) { %>
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" id="cb0" value="<%= tag[i].tag_name%>">
                                  <label class="custom-control-label" for="cb0"><%= tag[i].tag_name%></label>
                                </div>
                              <% } %>
                            <% } %>
                            <input type="hidden" id="filter" name="filter">
                          </div>
                        
                        

                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">新增標籤</a>
                        </form>
                      </div>
                    </div>
                  <% } %>





                </td>
              </tr>
              <tr>
                <td>上次修改時間</td>
                <td><%= record[0].rec_time %></td>
              </tr>
              <tr>
                <td>上傳者</td>
                <td><%= record[0].acc_name %></td>
              </tr>
            </tbody>
            </table> 
          </div>

          <% if (record[0].rec_reason != '') { %>
            <div class="card mb-3" style="min-width: 100%; position: relative; display: inline-block;">
              <div class="toast-body">
              原因：<%= record[0].rec_reason %>
              </div>
            </div>
          <% } %>

          <% if (record[0].acc_name == username) { %>
            <% if (state == '審核不通過') { %>
              <button type="button" class="btn btn-primary" onclick="document.getElementById('reupload').style.display='block';">重新上傳</button>
            <% } else if (state == '') { %>
              <button type="button" class="btn btn-primary" onclick="document.getElementById('revise').style.display='block';">申請修改</button>
            <% } %>
          <% } %>
        </div>
      </div>
    </div>
    

    

        <!--重新上傳modal-->
        <div id="reupload" class="modal" >
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <form method="POST" class="form-group" enctype="multipart/form-data" action="">
                      <div class="modal-header">
                        <h5 class="modal-title">重新上傳已修改過的會議記錄</h5>
                      </div>
                      <div class="modal-body">
                          <!--<iframe id="iframe_upload" src="https://script.google.com/macros/s/AKfycbzlikYulCzy4fKGcBOUvlUuENPXrGnjJ9sdpEdbsFiqDZo_aik/exec" width="100%" height="100%" frameborder="0" scrolling="no" allowfullscreen></iframe>-->
                          <input type="file" class="form-control-file" id="reuploadFile" name="reuploadFile" aria-describedby="fileHelp" required>
                          <label class="col-form-label">檔名</label>
                      </div>
                      <div class="modal-footer">
                          <input type="button" value="取消" class="btn btn-secondary" onclick="document.getElementById('reupload').style.display='none';">
                          <input type="submit" value="確定" class="btn btn-primary" id="btnReupload">
                      </div>
                  </form>
              </div>
          </div>
        </div>



        <!--申請修改modal-->
        <div id="revise" class="modal" >
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <form method="POST" class="form-group" id="reviseForm">
                      <div class="modal-header">
                        <h5 class="modal-title">申請修改已通過的會議記錄</h5>
                      </div>
                      <div class="modal-body">
                          <!--<iframe id="iframe_upload" src="https://script.google.com/macros/s/AKfycbzlikYulCzy4fKGcBOUvlUuENPXrGnjJ9sdpEdbsFiqDZo_aik/exec" width="100%" height="100%" frameborder="0" scrolling="no" allowfullscreen></iframe>-->
                          <input type="file" class="form-control-file" id="reviseReason" aria-describedby="reviseReason">
                          <!--<label class="col-form-label">檔名</label>-->
                          <br>
                          <label for="reviseTextarea">請說明修改原因</label>
                          <textarea class="form-control" id="reviseTextarea" rows="3" name="reviseReason"></textarea>
                          <span class="invalid-feedback" id="msg_reason">請輸入原因</span>
                      </div>
                      <div class="modal-footer">
                          <input type="button" value="取消" class="btn btn-secondary" onclick="cancelRevise();">
                          <input type="button" value="確定" class="btn btn-primary" id="btnRevise">
                      </div>
                  </form>
              </div>
          </div>
        </div>



        <!--預覽modal-->
        <div id="preview" class="modal">
          <div class="modal-dialog" role="document" style="min-width: 100%; height: 100%;">
              <div class="modal-content" style="min-height: 100%; scroll-behavior: auto; overflow: auto;">
                  <form method="POST" class="form-group">
                      <div class="modal-header">
                        <h5 class="modal-title"><%= record[0].rec_name%></h5>
                        <button type="button" class="close" data-dismiss="preview" aria-label="Close" onclick="document.getElementById('preview').style.display='none';">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body" style="padding-top: 0;">
                        <div class="iframe-container">
                          <iframe id="iframe_preview" src="/member/showfile/<%= record[0].rec_name%>" allowfullscreen></iframe>
                        </div>
                      </div>
                  </form>
              </div>
          </div>
        </div>



        <!--修改標籤modal-->
        <div id="tags" class="modal" >
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <form method="POST" class="form-group" id="reviseForm">
                      <div class="modal-header">
                        <h5 class="modal-title">套用標籤</h5>
                      </div>
                      <div class="modal-body">
                        <div class="input-group mb-3">
                          <input class="form-control" type="text" style="border-radius: 0; border-width: 0 0 1px 0;" name="searchRecord" id="searchRecord" placeholder="搜尋標籤" aria-label="Search minutes">
                          <div class="input-group-append">
                            <button class="btn" style="border-bottom-width: 1px;" type="button"><i class="fas fa-search"></i></button>
                          </div>
                        </div>
                        
                        <div class="custom-control custom-checkbox" style="position: relative; display: inline-block; margin-right: 1em;">
                          <input type="checkbox" class="custom-control-input" id="cb0" value="審核不通過" checked>
                          <label class="custom-control-label" for="cb0">審核不通過</label>
                        </div>
                        <div class="custom-control custom-checkbox" style="position: relative; display: inline-block; margin-right: 1em;">
                          <input type="checkbox" class="custom-control-input" id="cb1" value="審核中" checked>
                          <label class="custom-control-label" for="cb1">審核中</label>
                        </div>
                        <div class="custom-control custom-checkbox" style="position: relative; display: inline-block; margin-right: 1em;">
                          <input type="checkbox" class="custom-control-input" id="cb2" value="已確立檔案" checked>
                          <label class="custom-control-label" for="cb2">已確立檔案</label>
                        </div>
                        <input type="hidden" id="filter" name="filter">
          
                        
                          <!--<label class="col-form-label">檔名</label>-->
                      </div>
                      <div class="modal-footer">
                          <input type="button" value="取消" class="btn btn-secondary" onclick="document.getElementById('tags').style.display='none';">
                          <input type="button" value="確定" class="btn btn-primary" id="btnRevise">
                      </div>
                  </form>
              </div>
          </div>
        </div>

        <!--顯示checkbox是否要勾-->
        <% function tag_cbIsChecked(s) { %>
          <% var recordTag = record[0].tag_names.split(','); %>

          <% var isCheck = false; %>
          <% for(var i in recordTag) { %>
            <% if (s == recordTag[i]) { %>
              <% recordTag.splice(i, 1); %>
              <% isCheck = true; %>
              <% break; %>
            <% } %>
          <% } %>
          <% return isCheck; %>
        <% } %>

  </body>

  <script>
    //申請修改
    $("#btnRevise").click(function(){
      if (!$("#reviseTextarea").val()) {
        $("#msg_reason").css("display", "block");
        $('#reviseTextarea').addClass("is-invalid");
      } else {
        $("#reviseForm").submit();
      }
      
    })

    //取消申請修改
    function cancelRevise() {
      document.getElementById('revise').style.display='none';
      $("#msg_reason").css("display", "none");
      $('#reviseTextarea').removeClass("is-invalid");
      $("#reviseTextarea").val(null);
    }

  </script>
</html>