<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel="stylesheet" href="/stylesheets/css/all.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
  </head>
  <body>
    <div><%- include navbar %></div>
    <div class="jumbotron" style="background-color: rgba(88, 87, 87, 0.01); padding-top: 3rem;">
      <div class="col-sm-10">
        <div class="card" style="border-color: transparent;">
          <div class="card-body"></div>
        </div>
      </div>
      <span class="badge badge-light">專案代號：<%= pro_id %></span><span style="font-size: 1em;"><%= pro_name %></span>
      <div class="divider"></div>
      
      <div class="jumbotron" style="padding-top:1em; padding-bottom: 1em; padding-left: 1rem; margin-bottom: 1rem; background-color: #ecf0f1;">
        <a href="/member/<%= pro_id %>"><i class="fas fa-arrow-left">&nbsp;&nbsp;</i><span>返回</span></a>
          
        <% state = record[0].rec_state; %>
          <div class="jumbotron" style="padding-top:1rem; padding-bottom: 0; padding-left: 3rem; margin-bottom: 1rem; background-color: #ecf0f1;">
          <h5><%= record[0].rec_name %>
            <span class="badge badge-pill badge-info" style="margin-left: 1em; font-weight: normal;"><%= state %></span>
            <!--下載icon-->
            <a href="/file/<%= record[0].rec_id %>" target="_blank">
              <div class="tooltip" style="float: right; font-size: 1.2rem; margin-left: 1em; color: #50565c;">
                <i class="fas fa-arrow-down"></i>
                <span class="tooltiptext">下載檔案</span>
              </div>
            </a>
            <!--預覽icon-->
              <div class="tooltip" style="float: right; font-size: 1.2rem; margin-left: 1em; color: #50565c; cursor: pointer;">
                <i class="fas fa-eye" onclick="document.getElementById('preview').style.display='block';"></i>
                <span class="tooltiptext">預覽檔案</span>
              </div>
          </h5>
          <hr class="my-4">
          
          <div class="card mb-3" style="min-width: 100%;">
            <table class="table">
            <tbody>
              <tr>
                <td>標籤</td>
                <td><%= record[0].tag_names %>
                    <!--編輯標籤按鈕-->
                    <% if (record[0].rec_upload == userid) { %>
                      <div class="tooltip" style="margin-left: 1em; color: #50565c; cursor: pointer;">
                        <i class="fas fa-edit" onclick="document.getElementById('tags').style.display='block';"></i>
                        <span class="tooltiptext">編輯標籤</span>
                      </div>
                    <% } %>
                </td>
              </tr>
              <tr>
                <td>上次修改時間</td>
                <td><%= record[0].rec_time %></td>
              </tr>
              <tr>
                <td>上傳者</td>
                <td><%= record[0].acc_name %></td>
              </tr>

              <% if (record[0].rec_reason != null && record[0].rec_state == '審核中') { %>
                <!-- 申請修改：若是申請修改且審核中，表格加上一列顯示修改過的檔案，顯示修改原因 -->
                    <tr>
                      <td>修改後的檔案</td>
                      <td><%= record[0].rec_revisepath.substring(14).slice(0, -26) %>.docx
                        <a href="/file/<%= record[0].rec_id %>" target="_blank">
                          <i class="fas fa-arrow-down" style="margin-left: 1em; color: #50565c;"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                  </table> 
                </div>
    
                <div class="card mb-3" style="min-width: 100%; position: relative; display: inline-block;">
                  <div class="toast-body">
                  原因：<%= record[0].rec_reason %>
                  </div>
                </div>
                
                    
              <% } else { %>
                <!-- 上傳新檔：若是新檔案，表格結束 -->
                  </tbody>
                  </table> 
                </div>
              <% } %>

          <!--審核不通過、已確立之檔案，顯示按鈕-->
          <% if (record[0].acc_name == username) { %>
            <% if (state == '審核不通過') { %>
              <button type="button" class="btn btn-primary" onclick="document.getElementById('reupload').style.display='block';">重新上傳</button>
            <% } else if (state == null) { %>
              <button type="button" class="btn btn-primary" onclick="document.getElementById('revise').style.display='block';">申請修改</button>
            <% } %>
          <% } %>
        </div>
      </div>
    </div>
    

    

        <!--重新上傳modal-->
        <div id="reupload" class="modal" >
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <form method="POST" class="form-group" enctype="multipart/form-data" action="/file/reupload?proid=<%= pro_id %>&recid=<%= record[0].rec_id %>">
                      <div class="modal-header">
                        <h5 class="modal-title">重新上傳已修改過的會議記錄</h5>
                      </div>
                      <div class="modal-body">
                          <!--<iframe id="iframe_upload" src="https://script.google.com/macros/s/AKfycbzlikYulCzy4fKGcBOUvlUuENPXrGnjJ9sdpEdbsFiqDZo_aik/exec" width="100%" height="100%" frameborder="0" scrolling="no" allowfullscreen></iframe>-->
                          <input type="file" class="form-control-file" id="reuploadFile" name="reuploadFile" aria-describedby="fileHelp" required>
                          <label class="col-form-label">檔名</label>
                      </div>
                      <div class="modal-footer">
                          <input type="button" value="取消" class="btn btn-secondary" onclick="cancelReupload()">
                          <input type="submit" value="確定" class="btn btn-primary" id="btnReupload">
                      </div>
                  </form>
              </div>
          </div>
        </div>



        <!--申請修改modal-->
        <div id="revise" class="modal" >
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <form method="POST" class="form-group" id="reviseForm" enctype="multipart/form-data" action="/file/revise?proid=<%= pro_id %>&recid=<%= record[0].rec_id %>"><!--    -->
                      <div class="modal-header">
                        <h5 class="modal-title">申請修改已通過的會議記錄</h5>
                      </div>
                      <div class="modal-body">
                          <!--<iframe id="iframe_upload" src="https://script.google.com/macros/s/AKfycbzlikYulCzy4fKGcBOUvlUuENPXrGnjJ9sdpEdbsFiqDZo_aik/exec" width="100%" height="100%" frameborder="0" scrolling="no" allowfullscreen></iframe>-->
                          <input type="file" class="form-control-file" id="reviseFile" name="reviseFile" aria-describedby="reviseReason" required>
                          <!--<label class="col-form-label">檔名</label>-->
                          <br>
                          <label for="reviseTextarea">請說明修改原因</label>
                          <textarea class="form-control" id="reviseTextarea" rows="3" name="reviseReason"></textarea>
                          <span class="invalid-feedback" id="msg_reason">請輸入原因</span>
                      </div>
                      <div class="modal-footer">
                          <input type="button" value="取消" class="btn btn-secondary" onclick="cancelRevise();">
                          <input type="submit" value="確定" class="btn btn-primary" id="btnRevise">
                      </div>
                  </form>
              </div>
          </div>
        </div>



        <!--預覽modal-->
        <div id="preview" class="modal">
          <div class="modal-dialog" role="document" style="min-width: 100%; height: 100%;">
              <div class="modal-content" style="min-height: 100%; scroll-behavior: auto; overflow: auto;">
                  <form method="POST" class="form-group">
                      <div class="modal-header">
                        <h5 class="modal-title"><%= record[0].rec_name%></h5>
                        <button type="button" class="close" aria-label="Close" onclick="document.getElementById('preview').style.display='none';">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body" style="padding-top: 0;">

                        
                        <% if (record[0].rec_reason != null && record[0].rec_state == '審核中') { %>
                          
                          <!--申請修改：申請修改後且審核中，顯示兩個檔案-->
                          <div class="alert alert-light" style="width: 49.8%; float: left; margin-right: 0.4%; margin-bottom: 0.25rem;">
                            原始會議記錄
                            <!--下載icon-->
                            <a href="/file/<%= record[0].rec_id %>" target="_blank">
                              <i class="fas fa-arrow-down" style="margin-left:1rem; display: inline; color: #50565c;"></i>
                            </a>
                          </div>

                          <div class="alert alert-light" style="width: 49.8%; float: left; margin-bottom: 0.25rem;">
                            修改過的會議記錄
                            <!--下載icon-->
                            <a href="/file/<%= record[0].rec_id %>" target="_blank">
                              <i class="fas fa-arrow-down" style="margin-left:1rem; display: inline; color: #50565c;"></i>
                            </a>
                          </div>
                          
                          <div class="iframe-container" style="width: 49.8%; margin-right: 0.4%; float: left;">
                            <iframe id="iframe_preview" src="/showfile/<%= record[0].rec_path.substring(14)%>" allowfullscreen></iframe>
                          </div>
                          <div class="iframe-container" style="width: 49.8%; float: left;">
                            <iframe id="iframe_preview" src="/showfile/<%= record[0].rec_revisepath.substring(14)%>" allowfullscreen></iframe>
                          </div>
                        <% } else { %>
                          
                          <!--上傳新檔：上傳新檔後審核中，只顯示一個檔案-->
                          <div class="iframe-container">
                            <iframe id="iframe_preview" src="/showfile/<%= record[0].rec_path.substring(14)%>" allowfullscreen></iframe>
                          </div>
                          
                        <% } %>


                      </div>
                  </form>
              </div>
          </div>
        </div>



        <!--修改標籤modal-->
        <div id="tags" class="modal" >
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <form method="POST" class="form-group" id="reviseForm">
                      <div class="modal-header">
                        <h5 class="modal-title">套用標籤</h5>
                      </div>
                      <div class="modal-body">
                        <div class="card mb-3" style="max-height: 15rem; min-height: 8rem; overflow-y: auto;">
                          <div class="card-body" style="padding: 1rem;">
                            <% for (var i = 0; i < tag.length; i++) { %>
                              <% cbIsCheck = tag_cbIsChecked(tag[i].tag_name); %>
                              <% if (cbIsCheck == true) { %>
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" id="cb<%=i %>" value="<%= tag[i].tag_name%>" checked>
                                  <label class="custom-control-label" for="cb<%=i %>"><%= tag[i].tag_name%></label>
                                </div>
                              <% } else if (cbIsCheck == false) { %>
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" id="cb<%=i %>" value="<%= tag[i].tag_name%>">
                                  <label class="custom-control-label" for="cb<%=i %>"><%= tag[i].tag_name%></label>
                                </div>
                              <% } %>
                            <% } %>

                          </div>
                        </div>
                        <button type="button" class="btn btn-light btn-sm" onclick="document.getElementById('addTags').style.display='block';">新增標籤</button>
                        
                        <input type="hidden" id="filter" name="filter">
          
                        
                      </div>
                      <div class="modal-footer">
                          <input type="button" value="取消" class="btn btn-secondary" onclick="document.getElementById('tags').style.display='none';">
                          <input type="button" value="儲存" class="btn btn-primary" id="btnTags">
                      </div>
                  </form>
              </div>
          </div>
        </div>

        <!--新增標籤-->
        <div id="addTags" class="modal" >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <form class="form-group" id="nameForm" method="POST" action="/admin/change?proid=<%= pro_id %>">
                <div class="modal-header"><h5 class="modal-title">新增標籤</h5></div>
                <div class="modal-body">
                  <label class="col-form-label">請輸入欲新增的標籤</label>
                  <input class="form-control" type="text" name="newTag" id="newTag">
                  <span class="invalid-feedback" id="message1"></span>
                </div>
                <div class="modal-footer">
                  <input type="button" value="取消" class="btn btn-secondary" data-dismiss="modal" onclick="closeAddTags()">
                  <input type="button" value="確定" class="btn btn-primary" id="btnAddTag">
                </div>
              </form>
            </div>
          </div>
        </div>

        <!--顯示checkbox是否要勾-->
        <% function tag_cbIsChecked(s) { %>
          <% if(record[0].tag_names != null) { %>
          <% var recordTag = record[0].tag_names.split(','); %>
          <% } %>
          <% var isCheck = false; %>
          <% for(var i in recordTag) { %>
            <% if (s == recordTag[i]) { %>
              <% recordTag.splice(i, 1); %>
              <% isCheck = true; %>
              <% break; %>
            <% } %>
          <% } %>
          <% return isCheck; %>
        <% } %>

  </body>

  <script>
    //申請修改
    $("#btnRevise").click(function(){
      if (!$("#reviseTextarea").val()) {
        $("#msg_reason").css("display", "block");
        $('#reviseTextarea').addClass("is-invalid");
      }
      
    })

    //取消申請修改
    function cancelRevise() {
      document.getElementById('revise').style.display='none';
      $("#msg_reason").css("display", "none");
      $('#reviseTextarea').removeClass("is-invalid");
      $("#reviseTextarea").val(null);
      $("#reviseFile").val(null);
    }

    //取消重新上傳
    function cancelReupload() {
      document.getElementById('reupload').style.display='none';
      $("#reuploadFile").val(null);
    }

    function closeAddTags() {
      document.getElementById('addTags').style.display='none';
      $("#newTag").val(null);
    }

  </script>
</html>