<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary" style="border-radius: 0%;">
    <a class="navbar-brand">智慧會議系統</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor01" style="position: absolute; right: 50px;">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/" style="margin-right: 0.5em;"><i class="fas fa-home"></i></a>
        </li>
        
        <li class="nav-item dropdown" id="toggle_notice" onclick="$('#dropdown_notice').slideToggle(200);">
          <a id="noticeclick" class="nav-link" href="#" style="margin-right: 0.5em;"><i class="fas fa-bell"></i><span class="badge badge-danger badge-pill" id='noticecount'></span></a>
          <div class="dropdown-menu" id="dropdown_notice" style="right: 0; left: auto; min-width: 15rem;" aria-labelledby="notice">
            <% if(notice.length!=0) { %>
              <% for(var i=0; i<notice.length; i++) { %>              
                <% if(notice[i].ap_authority=='管理員') { %>
                  <% if(notice[i].notice_action=='新檔案上傳') { %>
                    <a id="num" class="dropdown-item" href="/admin/<%= notice[i].pro_id %>/<%= notice[i].rec_id %>" style=" word-wrap:break-word; white-space: pre-wrap;">專案 <strong><%= notice[i].pro_name %></strong> 有新上傳檔案 <%= notice[i].rec_name %> 要審核<footer class="blockquote-footer"><%= notice[i].notice_time %> </footer></a>
                    <div class="dropdown-divider"></div>
                  <% } %>

                  <% if(notice[i].notice_action=='重新上傳') { %>
                    <a id="num" class="dropdown-item" href="/admin/<%= notice[i].pro_id %>/<%= notice[i].rec_id %>" style=" word-wrap:break-word; white-space: pre-wrap;">專案 <strong><%= notice[i].pro_name %></strong> 有不通過檔案 <%= notice[i].rec_name %> 已重新上傳，須審核<footer class="blockquote-footer"><%= notice[i].notice_time %> </footer></a>
                    <div class="dropdown-divider"></div>
                  <% } %>

                  <% if(notice[i].notice_action=='修改上傳') { %>
                    <a id="num" class="dropdown-item" href="/admin/<%= notice[i].pro_id %>/<%= notice[i].rec_id %>" style=" word-wrap:break-word; white-space: pre-wrap;">專案 <strong><%= notice[i].pro_name %></strong> 有已確立檔案 <%= notice[i].rec_name %> 須審核<footer class="blockquote-footer"><%= notice[i].notice_time %> </footer></a>
                    <div class="dropdown-divider"></div>
                  <% } %>
                <% } %>

                <% if(notice[i].ap_authority=='成員') { %>
                  <% if(notice[i].notice_action=='新檔案上傳') { %>
                    <a id="num" class="dropdown-item" href="/member/<%= notice[i].pro_id %>/<%= notice[i].rec_id %>" style=" word-wrap:break-word; white-space: pre-wrap;">專案 <strong><%= notice[i].pro_name %></strong> 有新檔案 <%= notice[i].rec_name %> 上傳<footer class="blockquote-footer"><%= notice[i].notice_time %> </footer></a>
                    <div class="dropdown-divider"></div>
                  <% } %>

                  <% if(notice[i].notice_action=='新檔案確立') { %>
                    <a id="num" class="dropdown-item" href="/member/<%= notice[i].pro_id %>/<%= notice[i].rec_id %>" style=" word-wrap:break-word; white-space: pre-wrap;">專案 <strong><%= notice[i].pro_name %></strong> 有新檔案 <%= notice[i].rec_name %> 確立<footer class="blockquote-footer"><%= notice[i].notice_time %> </footer></a>
                    <div class="dropdown-divider"></div>
                  <% } %>

                  <% if(notice[i].notice_action=='重新上傳') { %>
                    <a id="num" class="dropdown-item" href="/member/<%= notice[i].pro_id %>/<%= notice[i].rec_id %>" style=" word-wrap:break-word; white-space: pre-wrap;">專案 <strong><%= notice[i].pro_name %></strong> 有新檔案 <%= notice[i].rec_name %> 重新上傳<footer class="blockquote-footer"><%= notice[i].notice_time %> </footer></a>
                    <div class="dropdown-divider"></div>
                  <% } %>

                  <% if(notice[i].notice_action=='修改上傳') { %>
                    <a id="num" class="dropdown-item" href="/member/<%= notice[i].pro_id %>/<%= notice[i].rec_id %>" style=" word-wrap:break-word; white-space: pre-wrap;">專案 <strong><%= notice[i].pro_name %></strong> 有檔案 <%= notice[i].rec_name %> 上傳<footer class="blockquote-footer"><%= notice[i].notice_time %> </footer></a>
                    <div class="dropdown-divider"></div>
                  <% } %>

                  <% if(notice[i].rec_upload!=userid && notice[i].notice_action=='修改通過') { %>
                    <a id="num" class="dropdown-item" href="/member/<%= notice[i].pro_id %>/<%= notice[i].rec_id %>" style=" word-wrap:break-word; white-space: pre-wrap;">專案 <strong><%= notice[i].pro_name %></strong> 有檔案 <%= notice[i].rec_name %> 已修改<footer class="blockquote-footer"><%= notice[i].notice_time %> </footer></a>
                    <div class="dropdown-divider"></div>
                  <% } %>

                  <% if(notice[i].rec_upload==userid && notice[i].notice_action=='審核不通過') { %>
                    <a id="num" class="dropdown-item" href="/member/<%= notice[i].pro_id %>/<%= notice[i].rec_id %>" style=" word-wrap:break-word; white-space: pre-wrap;">專案 <strong><%= notice[i].pro_name %></strong> <%= notice[i].rec_name %> 審核不通過，需重新上傳<footer class="blockquote-footer"><%= notice[i].notice_time %> </footer></a>
                    <div class="dropdown-divider"></div>
                  <% } %>

                  <% if(notice[i].rec_upload==userid && notice[i].notice_action=='修改通過') { %>
                    <a id="num" class="dropdown-item" href="/member/<%= notice[i].pro_id %>/<%= notice[i].rec_id %>" style=" word-wrap:break-word; white-space: pre-wrap;">專案 <strong><%= notice[i].pro_name %></strong> 您修改的 <%= notice[i].rec_name %> 審核通過<footer class="blockquote-footer"><%= notice[i].notice_time %> </footer></a>
                    <div class="dropdown-divider"></div>
                  <% } %>

                  <% if(notice[i].rec_upload==userid && notice[i].notice_action=='修改不通過') { %>
                    <a id="num" class="dropdown-item" href="/member/<%= notice[i].pro_id %>/<%= notice[i].rec_id %>" style=" word-wrap:break-word; white-space: pre-wrap;">專案 <strong><%= notice[i].pro_name %></strong> 您修改的 <%= notice[i].rec_name %> 審核不通過<footer class="blockquote-footer"><%= notice[i].notice_time %> </footer></a>
                    <div class="dropdown-divider"></div>
                  <% } %>
                <% } %>
                
              <% } %>
            <% } %>

            <% if(notice.length==0) { %>
              <a class="dropdown-item" href="#" style=" word-wrap:break-word; white-space: pre-wrap;">沒有通知 </a>
            <% } %>
            
          </div>
        </li>
        
        <li class="nav-item dropdown" id="nav_toggle" onclick="$('#dropdown').slideToggle(200);">
            <a class="nav-link dropdown-toggle" href="#" aria-expanded="false">
                <%= username %> </a>
            <div class="dropdown-menu" id="dropdown" style="right: 0; left: auto;" aria-labelledby="themes">
                <a class="dropdown-item" href="/personalSetting"><i class="fas fa-cog"></i>&nbsp;&nbsp;&nbsp;個人設定</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/logout"><i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;&nbsp;登出</a>
            </div>
        </li>
      </ul>
    </div>
  </nav>

  <script>
    $(document).ready(function() {
      $("[id=num]").css("background-color", "transparent");//red
      for (let k = 0; k < $("[id=num]").length; k++){
        $("[id=num]").eq(k).hover(function() {
          $("[id=num]").eq(k).css("background-color", "#2C3E50");
        
        }, function() {
          $("[id=num]").eq(k).css("background-color", "transparent");//red
        })

        // $("[id=num]").eq(k).click(function() {
        //   $("[id=num]").eq(k).css("backgruond-color",  "transparent");
      
        // })
      }
      
      
    })
    //個人設置下拉選單
    $(function () {  
      $('#nav_toggle').click(function (event) {  
          //取消事件冒泡  
          event.stopPropagation();  
      });

    //點選空白處隱藏
    $(document).click(function(event){
      var _con = $('#dropdown');   // 設定目標區域
      if(!_con.is(event.target) && _con.has(event.target).length === 0){ 
        $('#dropdown').slideUp(200);   //滑動消失
      }
    });
  })

    //通知下拉選單
    $(function () {  
      $('#toggle_notice').click(function (event) {  
          //取消事件冒泡  
          event.stopPropagation();  
      });

      //點選空白處隱藏
      $(document).click(function(event){
        var _con = $('#dropdown_notice');   // 設定目標區域
        if(!_con.is(event.target) && _con.has(event.target).length === 0){ 
          $('#dropdown_notice').slideUp(200);   //滑動消失
        }
      });
    })

    
  </script>
