<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
  <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
  </head>
  <body>
  
    <!--<h1><%= title %></h1>
    <p>Welcome to <%= title %></p>-->
    <br>
    <div style="border:1px #ced4da solid; width:50%; margin:0 auto;">
      <h1 align="center"><b>查詢使用者資料</b></h1>  
        <center><table   width='70%' height="300px" >
          <form method="POST" action="/test">
            <tr>
              <td ><label for="loginacc" class="col-form-label">帳號(信箱)</label></td>              
            </tr>
            <tr>
              <td ><input type="text" class="form-control" name="loginacc" id="loginacc"></td>
            </tr>            
            <tr>
              <td  align="center"><input type="submit" class="btn btn-primary" style="width: 40%;" id="btn" value="查詢"></td>
            </tr>
          </form>
        </table></center>
        <br>
    </div>

    <!-- 顯示record裡的全部資料 點擊可下載 -->
    <% if(data.length!=0){ %>
      <% for(var i=0; i<data.length; i++) { %>
          <% id = data[i].rec_id %>
          <% name = data[i].rec_name %>
          <a href="/file/<%= id %>" target="_blank"><%= name %></a>
          <br>
      <% } %>
    <% } %>
    
    <button id='get'>接值</button>
    <button id='post'>傳值</button>
    <p id='tt'></p>
    
  </body>
  <script>

    $('#get').click(function() {
      $.ajax({
        url: 'https://api.mediatek.com/mcs/v2/devices/D0GyA2Da/datachannels/words/datapoints',//deviceld: D0GyA2Da, deviceKey: nOJM4aFkjC980deR, datachannelID: words
        headers: {deviceKey:'nOJM4aFkjC980deR'},
        type: 'GET',
        contentType: 'application/json',
        success: function(res){
          //$('#tt').text(res.dataChannels[0].dataPoints[0].values.value)//值
          $('#tt').text(JSON.stringify(res))//所有資料
        }  
      })
    })

    //按開始會議傳值
    $('#post').click(function() {
      var data = {
        datapoints:[ {dataChnId:'start', values: {value: 'start'} } ]
      }
      $.ajax({
        url: 'https://api.mediatek.com/mcs/v2/devices/D0GyA2Da/datapoints',
        headers: {deviceKey:'nOJM4aFkjC980deR'},
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify(data),
        success: function(res){
          $('#tt').text('success')
        }  
      })
    })

    // 資料顯示
    // {
    //   "apiVersion": "2.18.3",
    //   "code": 200,
    //   "message": "Request has succeeded",
    //   "deviceId": "D0GyA2Da",
    //   "dataChannels": [
    //     {
    //       "dataChnId": "words",
    //       "isOverflow": false,
    //       "dataPoints": [
    //         {
    //           "recordedAt": 1586617139947,
    //           "values": {
    //             "value": "啊不啦不啦"
    //           }
    //         }
    //       ]
    //     }
    //   ]
    // }
  </script>
</html>